<!DOCTYPE html>
<html lang="en">
	<head>
    <link rel="stylesheet" type="text/css" href="Styles/Canvas.css">
    <title>Multiplayer Falling Sand Game</title>
  </head>
  <body>
    <h1>Multiplayer Falling Sand Game</h1>
      <canvas id="particle-canvas" height="600" width="600"></canvas>
			<br>
			<button onclick="setMaterial('sand')">Sand</button>
			<button onclick="setMaterial('water')">Water</button>
			<button onclick="setMaterial('stone')">Stone</button>
			<button onclick="setMaterial('metal')">Metal</button>
			<button onclick="setMaterial('acid')">Acid</button>
			<!--<button onclick="setMaterial('lava')">Lava</button>-->
			<br> <br>
			<button onclick="setMaterial('erase')">Erase</button>
    <script type="text/javascript" src="Scripts/newGameScript.js"></script>
  </body>
</html>
