@*
 * This template takes a two arguments, a String containing a
 * message to display and an AssetsFinder to locate static assets.
 *@
@(loginForm: Form[NewUser])(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder)

@main("Particle Simulator Login/Register", assetsFinder) {
	<div class="centered fullscreen">
	<h2 class="centered">Particle Simulator</h2>
	<br>
	<h3 class="centered">Please login or register</h3>
	@if(loginForm.hasGlobalErrors){
	<br>
	<h3 class="centered">@(loginForm.globalError.get.message)</h3>
	}
	<form id="loginandregister">
		@if(loginForm.hasErrors && loginForm.error("username").isDefined) {
		<h3 class="centered">@(loginForm.error("username").get.message)</h3>
		<br>
		}
    	@helper.inputText(loginForm("username"))
	    @if(loginForm.hasErrors && loginForm.error("password").isDefined) {
	    <br>
	    <h3 class="centered">@(loginForm.error("password").get.message)</h3>
	    <br>
	    }
	    @helper.inputPassword(loginForm("password"))
	    <button type="submit" form="loginandregister" formaction="@helper.CSRF(routes.LoginController.login)" value="Login">Login</button>
	    <button type="submit" form="loginandregister" formaction="@helper.CSRF(routes.LoginController.register)" value="Register">Register</button>
	</form>
	<br>
	<h3 class="centered">NOTE: passwords are stored as plain text, don't expect confidentiality.</h3>
	</div>
}

